@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f0f2f0;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}
